

//font-settings
$font-size : 16px;
$medium-size : 22px;
$no-unit-size : 16;
$line-height : 24px;

//colors
$text-color : #616161;
$link-color : #838c48;
$light-link-color : #9aa458;
$button-text-color : white;
$discrete-color : #888888;
$placeholder : #d7d7d9;
$heading-color : #68703b;
$small-heading-color : #674f4a;
$cheval-name: #6b524d;
$text-color-bkgr : white;
$label-color:#8c8b8b;
$input-color:#68703b;

$background-color : #3f312e;
$background-galerie : #cbcbcb;
$page-background-color : white;
$background-nav: #3f312e;
$background-dark: #3f312e;

$font-default: 'Roboto', sans-serif;
$font-paragraph : Georgia;
$font-title-article : 'Playfair Display';
