//-layout.jade
doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block title
      title Workflow
    block style
      link(rel="stylesheet" href="css/main.css")
  body
    block header
    block aside
    block content
    block footer
    block script 
      include script.jade
      
